@page
@model AutoShopManager.Pages.Clientes.EditModel
@{
	ViewData["Title"] = "Edit";
}
<h1>Edit</h1>

<h4>Clientes</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div aps=validation=summary="ModelOnly"= class="text-danger"></div>

			<div class="form-group">
				<label asp-for="Cliente.Nombre" class="control-label"></label>
				<input asp-for="Cliente.Nombre" class ="form-control" />
				<span asp-asp-validation-for="Cliente.Nombre" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Cliente.Apellido" class="control-label"></label>
				<input asp-for="Cliente.Apellido" class ="form-control" />
			<span asp-asp-validation-for="Cliente.Apellido" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Cliente.Telefono" class="control-label"></label>
				<input asp-for="Cliente.Telefono" class ="form-control" />
			<span asp-asp-validation-for="Cliente.Telefono" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Cliente.Direccion" class="control-label"></label>
				<input asp-for="Cliente.Direccion" class ="form-control" />
			<span asp-asp-validation-for="Cliente.Direccion" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Cliente.Email" class="control-label"></label>
				<input asp-for="Cliente.Email" class ="form-control" />
			<span asp-asp-validation-for="Cliente.Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-success"  />
				<a asp-asp-page="./Index" class="btn btn-primary">Back to list</a>
			</div>
		</form>
	</div>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
