@page
@model AutoShopManager.Pages.Citas.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h4>Cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Cita.Id" class="control-label"></label>
                <input asp-for="Cita.Id" class="form-control" />
                <span asp-validation-for="Cita.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cita.Descripcion" class="control-label"></label>
                <input asp-for="Cita.Descripcion" class="form-control" />
                <span asp-validation-for="Cita.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-page="Index" class="btn btn-primary">Back to list</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
