@page
@model AutoShopManager.Pages.Partess.CreateModel
@{
	ViewData["Title"] = "Create";
}
<h1>Create</h1>
<h4>Partes</h4>
<hr />
<div class="row">
	<div class="col md -4">
		<form method="post">
			<div aps=validation=summary="ModelOnly"= class="text-danger"></div>

			<div class="form-group">
			<label asp-for="Partes.Nombre" class="control-label"></label>
			<input asp-for="Partes.Nombre" class ="form-control" />
				<span asp-asp-validation-for="Partes.Nombre" class="text-danger"></span>
			</div>
			<div class="form-group">
			<label asp-for="Partes.NumeroParte" class="control-label"></label>
			<input asp-for="Partes.NumeroParte" class ="form-control" />
			<span asp-asp-validation-for="Partes.NumeroParate" class="text-danger"></span>
			</div>

			<div class="form-group">
			<label asp-for="Partes.Precio" class="control-label"></label>
			<input asp-for="Partes.Precio" class ="form-control" />
			<span asp-asp-validation-for="Partes.Precio" class="text-danger"></span>
			<div class="form-group">
			<label asp-for="Partes.Stock" class="control-label"></label>
			<input asp-for="Partes.Stock" class ="form-control" />
			<span asp-asp-validation-for="Partes.Stock" class="text-danger"></span>
			</div>
			<div class="form-group">
			<label asp-for="Partes.Proveedor" class="control-label"></label>
			<input asp-for="Partes.Proveedor" class ="form-control" />
			<span asp-asp-validation-for="Partes.Proveedor" class="text-danger"></span>
			</div>
			</div>
			<div class="form-group">
			<input type="submit" value="Create" class="btn-btn-success" />
			<a asp-page="Index" class="btn btn-primary">Back to list</a>
			</div>
		</form>
	</div>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");	
	}
}
